### Week 3 Project

In [39]:
#import the libraries
import numpy as np
import pandas as pd

Let's scrap the data from wikipedia page, [List of postal codes of Canada: M](https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M)

In [40]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M', header=0)[0]

### First task

In [41]:
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

We will get only data, where Borough is present

In [42]:
df = df[df['Borough'] != "Not assigned"]

As some rows has got deleted , We need to reset the index

In [43]:
df.reset_index(inplace=True)

In [44]:
df.head()

,index,Postal Code,Borough,Neighbourhood
0,2,M3A,North York,Parkwoods
1,3,M4A,North York,Victoria Village
2,4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,5,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"

In [45]:
len(df['Postal Code']) == len(pd.unique(df['Postal Code']))

True

Postal Code column has all unique values

In [51]:
(df['Neighbourhood']== "Not assigned").sum()

0

There is no neighbourhood which is Not assigned

In [53]:
df.shape

(103, 4)

## Second Task

Get the geospatial Coordinates from given csv file , and merge it with our data frame

In [54]:
coordinates = pd.read_csv('Geospatial_Coordinates.csv')

In [56]:
coordinates.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [71]:
df1 =df.merge(coordinates, left_on = 'Postal Code',right_on = 'Postal Code', how= 'left')

In [73]:
df1.head()

,index,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,2,M3A,North York,Parkwoods,43.753259,-79.329656
1,3,M4A,North York,Victoria Village,43.725882,-79.315572
2,4,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,5,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494

## Third Task

In [75]:
import folium # map rendering library